html,body{
	background: #001;
}

#sceneBox{
	color: #bbb;
	cursor: default;
	font: 18pt arial;
	height: 80%;
	margin: 50px auto;
	padding: 1px 30px;
	width: 70%;
}

scene{
	display: none;
}

entity{
	color: #449;
	cursor: pointer;
}
entity:hover{
	color: #44c;
}

action{
	display: none;
}

entityMenu{
	display: block;
	position: absolute;
}
entityMenuItem{
	background: #334;
	color: #889;
	cursor: pointer;
	display: block;
	font: 14pt arial;
	padding: 5px 10px;
	text-align: center;
}
entityMenuItem:hover{
	background: #556;
}
